@import "./../../node_modules/bulma/sass/utilities/initial-variables";
@import "./../../node_modules/bulma/sass/utilities/functions";

// Customize
// Colors
// $primary: #2D3947;
// // Links
// $link-hover: #00D1B2;

@import './../../node_modules/bulma/bulma.sass';
@import './../../node_modules/bulma-slider/dist/css/bulma-slider.sass';

dl {
  dt {
    float: left;
    clear: left;
    &::after {
      content: ":";
    }
  }
  dd {
    font-weight: bold;
    text-align: right;
  }
}

p.intro {
  padding-bottom: 0.75rem;
  &:last-of-type {
    padding-bottom: 0;
  }
}